[{apns, [ {apple_host,       "api.push.apple.com"}
        , {apple_port,       443}
        , {certfile,         "/home/fox/apns.crt"}
        , {keyfile,         "/home/fox/apns.key"}
        , {timeout,          10000}
        , {apns_id,          undefined}
        , {apns_expiration,  0}
        , {apns_priority,    10}
        , {apns_topic,       "com.kivra.Kivra"}
        , {apns_collapse_id, undefined}
        , {feedback_host,    "feedback.sandbox.push.apple.com"}
        , {feedback_port,     2196}
        ]
}].
